body{
    background-color: rgb(25, 25, 25);
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
img.cat{
    width: 275px; 
    position: absolute; 
    left: 200px; 
    rotate: -13deg; 
    border: 3px solid rgb(219, 177, 86); 
    border-radius: 5px;
}